.head{
    margin: 25px;
}
.playList{
    margin: 30px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: cornsilk;
    padding: 10px;
}
.cardContain {
    margin: 10px;
    width: 150px;
    text-align: center;
}
.cardContain img{
    width: 150px;
}